body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}


input {
    padding: 9px;
    width: 90px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
textarea{
    border: 1px lightslategray solid;
    cursor: pointer;
}